# TensorFlow and Keras
tensorflow==2.10.0
keras==2.10.0

# PyTorch
torch==1.13.0
torchvision==0.14.0

# Pour le traitement d'images
opencv-python==4.5.5.64

# Pour la visualisation des résultats
matplotlib==3.5.1

# Pour afficher des barres de progression
tqdm==4.64.0

# Pour les outils de Machine Learning
scikit-learn==1.0.2

# Manipulation des tableaux et matrices
numpy==1.21.2


